name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Install compiler
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '15.2.Rel1'

      - name: Setup meson
        run: |
          pip3 install --user meson==1.10.0
          meson setup --cross-file arm-none-eabi.txt build

      - name: Build firmware
        run: |
          meson compile -C build

      - name: Run tests
        run: |
          meson test -C build
 
      - name: Archive MCU image
        uses: actions/upload-artifact@v4
        with:
          name: ShiftLight_binary
          path: |
            ./build/app/shiftlight.elf
